@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* Universal Selector Styling */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
/* Banner Section Styling Start */
.banner-container {
  max-width: 1440px;
  min-height: 652px;
  background-image: url("/Images/Hero-bg.png");
}
.banner {
  max-width: 998px;
  min-height: 581px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.banner-title {
  width: 998px;
  height: 136px;
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-description {
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.button-container {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-button {
  width: 200px;
  height: 66px;
  text-decoration: none;
  padding-top: 21px;
  color: rgb(255, 255, 255);
  font-family: "Azeret Mono", monospace;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* SECOND SECTION DESIGN STYLING START */
.second-section {
  max-width: 1140px;
  min-height: 1395px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.second-section-container {
  max-width: 976px;
  min-height: 1235px;
  margin: 0 auto;
  margin-top: 80px;
}
.development {
  max-width: 852px;
  min-height: 115px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
  margin-bottom: 50px;
}
.development-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.development-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.second-section-details-container {
  max-width: 980px;
  min-height: 1080px;
}
.details-container {
  width: 946px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
  margin-bottom: 48px;
}
.first-item {
  max-width: 850px;
  min-height: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.first-part {
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px 10px;
  gap: 20px;
}
.first-item-title {
  width: 390px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.first-item-description {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.learn {
  box-sizing: border-box;
  opacity: 0.7;
  border: 1px solid rgb(13, 19, 33);
  width: 150px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.learn-more {
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 10px;
  padding-top: 3px;
}
.second-item {
  max-width: 850px;
  min-height: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.second-item-image-part {
  margin-top: 20px;
}
.second-part {
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px 10px;
  gap: 20px;
}
.second-item-title {
  width: 477px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.second-item-description {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.second-learn {
  box-sizing: border-box;
  opacity: 0.7;
  border: 1px solid rgb(13, 19, 33);
  width: 150px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.second-learn-more {
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 10px;
  padding-top: 3px;
}
.third-section {
  max-width: 1140px;
  min-height: 777px;
  border: 2px solid magenta;
  margin: 0 auto;
}
.third-container {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
.title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.video-section {
  width: 1140px;
  height: 614px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.video {
  width: 1076px;
  height: 550px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 16px;
}
.border-radius {
  border-radius: 16px;
}
